NEXT_PUBLIC_SITE_URL=https://lilaiireland.com
WORDPRESS_ORIGIN=https://cms.lilaiireland.com
WORDPRESS_API_BASE=https://cms.lilaiireland.com/wp-json/wp/v2
WOOCOMMERCE_STORE_API_BASE=https://cms.lilaiireland.com/wp-json/wc/store/v1
REVALIDATE_SECRET=change-me
